*{
    margin: 0;
    padding: 0;
    font-family: 'Uchen', serif;
}
body{

    background-color: rgb(194, 220, 241);
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow:1px 1px 15px 4px rgb(70, 66, 66,0.5) ;
    overflow-x: hidden;

}
.navbar__brand{
    width: 150px;
}
.navbar__logo{
    width: 100%;
}
.button__primary{
    background-image:linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    border: none;
    padding: 6px 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.container{
padding: 20px;
}
.hero__image{
    width: 100%; 
}
.hero__image__container{
    position: relative;
}
.hero__text{
    margin-bottom: 20px;
}
.hero__bg{
        position: absolute;
        top: 0;
        left: 0;
        color: palevioletred;
        width: 90%;
        z-index: -1;
        opacity: 0;
    }




@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 200px;
    }
    .button__primary{
        padding: 10px 29px;
        font-size: large;
    }
    .container{
        padding: 20px 80px;
    }
    .hero__container{
        padding: 20px 40px;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .hero__image{
        width: 100%;
    }
    .hero__text{
        font-size: 40px;
        width: 400px;
        margin: 40px 0px;
        
    }
    .hero__bg{
        position: absolute;
        top: 0;
        left: 0;
        color: palevioletred;
        width: 90%;
        z-index: -1;
        opacity: 1;
    }
    

}

@media (min-width:1020px) {
    
}
@media(min-width:1440px){

}